

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0f0f,#1a0b2e,#2d0b52);
    color:white;
}



nav{
    position:fixed;
    top:0;
    width:100%;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.8);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:1.5rem;
    font-weight:bold;
    color:#d8b4fe;
}

.logo img{
    border-radius:50%;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#d8b4fe;
}


.banner{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://i.pinimg.com/736x/39/73/cf/3973cf7a03ca75b190378df1a5ecace9.jpg");
    background-size:cover;
    background-position:center;
}

.banner h1{
    font-size:3.5rem;
    margin-bottom:10px;
}

.banner h2{
    color:#d1d5db;
    margin-bottom:25px;
}
.typing-text{
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #d8b4fe;
    animation: typing 4s steps(20, end) forwards,
               blink .8s infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }

}


.btn{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#9333ea;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#7e22ce;
    transform:translateY(-3px);
}



section{
    max-width:1100px;
    margin:auto;
    padding:100px 20px;
}

h2{
    font-size:2.5rem;
    margin-bottom:30px;
    border-bottom:3px solid #9333ea;
    display:inline-block;
}


.about-content{
    display:flex;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.about-content img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #9333ea;
}

.about-content p{
    flex:1;
    line-height:1.8;
    font-size:1.1rem;
}



.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.skill-card{
    flex:1 1 200px;
    padding:20px;
    text-align:center;
    background:#1e1b4b;
    border:1px solid #9333ea;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.skill-card:hover{
    transform:translateY(-5px);
    background:#9333ea;
}



.all-projects{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}

.project-card{
    background:#111827;
    padding:25px;
    border-radius:10px;
    border:1px solid #9333ea;
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(168,85,247,.5);
}

.project-card h3{
    color:#d8b4fe;
    margin-bottom:10px;
}



.contact-info{
    background:#111827;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

.contact-info p{
    margin-bottom:15px;
}

.contact-info a{
    color:#d8b4fe;
    text-decoration:none;
}


footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #9333ea;
    background:black;
}



@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .banner h1{
        font-size:2.3rem;
    }

    .about-content{
        flex-direction:column;
        text-align:center;
    }

    .about-content img{
        width:250px;
        height:250px;
    }
}
.fa-whatsapp{
    color: green;
    font-size: 22px;
}

.fa-facebook{
    color:blue;
    font-size: 22px;
}
.fa-linkedIn{
    color:  blue;
    font-size: 22px;
}
.fa-Github{
    color:white;
    font-size: 22px;
}